NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=project-assets

DATABASE_URL=
DIRECT_URL=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
JWT_SECRET=
